#remote {
  /*background: #e5e5e5;*/
  border-radius: 30px;
}

#remote button span {
  font-size: 80%;
}

.small_icon {
  font-size: 6px;
}
.icon-red {
  color: red;
}
.icon-green {
  color: green;
}
.icon-yellow {
  color: yellow;
}
.icon-blue {
  color: blue;
}
